body * {
	border: 1px solid;
	background-color: #eeeeee;
	margin: 5px 5px 5px;
	padding: 5px 5px 5px;
	position: relative;
}

.flex {
	display: flex;
	/*justify-content: center;*/
}

.players {
	/*display: flex;*/
	/*flex-direction: column;*/
	/*justify-content: center;*/
	width: 50%;
}

.results {
	/*justify-content: center;*/
	align-items: center;
	width: 50%;
}

.diceRoll {
	/*justify-content: center;*/
	align-items: flex-end;
	background-color: #eeddcc;
	width: 200px;
}
#names {
	text-align: center;
}