body * {
	/*border: 1px solid;*/
	/*background-color: #eeeeee;*/
	margin: 5px 5px 5px;
	padding: 5px 5px 10px;
	position: relative;
}

h1, h2, p {
	text-align: center;
}

figure {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	left: 2%;
}

p {
	border: 3px solid;
	right: 5%;
	width: 10%;
	height: 1em;
	background-color: white;
	box-shadow: 5px 5px 3px 1px #666666;
}

.flex {
	display: flex;
	justify-content: center;
}

.players {
	display: flex;
	width: 35%;
	flex-direction: column;
	justify-content: center;
	align-self: center;	
}


.diceRollButton {
	background-color: #eeddcc;
	align-self: center;	
	box-shadow: 0px 0px 3px 5px #ccbbaa;
	border-radius: 50px 50px 50px;
}

.diceRollButton:Hover {
	background-color: #ccddee;
}	

/*Break point for large screens*/
@media (min-width: 1300px) {
	
	main {
		flex-direction: row;
	}
	
	header {
		background-color: #777777;
	}

	h1, h2, p {
		font-size: 3em;
	}

	button {
		font-size: 1.5em;
	}

	.diceRollButton {
		width: 350px;
	}
	
	.results {
		background-image: url(img/frame.png);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		height: 400px;
	}

}

/*Break point for normal screens*/
@media (min-width: 900px) and (max-width: 1299px){
	
	main {
		flex-direction: row;
	}
	
	header {
		background-color: #aaaaaa;
	}

	h1, h2, p {
		font-size: 2em;
	}

	.diceRollButton {
		width: 200px;
	}
	
	.results {
		background-image: url(img/frame.png);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		height: 300px;
	}

}

/*Break point for small screens*/
@media (max-width: 899px) {
		
	main {
		flex-direction: column;
	}
	
	header {
		background-color: #eeeeee;
	}

	h1, h2, p {
		font-size: 1em;
	}

	.diceRollButton {
		width: 100px;
	}
	
	.results {
		background-image: url(img/frame.png);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		height: 200px;
	}

}
